<div class="content-wrapper">
  <div class="page-title">
    <h1>No offer and inactive applications</h1>
  </div>

  <div class="content-section">
    <% if @inactive_apps.size == 0 %>
      <p>Job apps you mark with a 'no offer' or 'withdrawn' status will show up here.</p>
    <% end %> 
    <% @inactive_apps.each do |app| %>
      <a href="/job_apps/<%=app.id%>">
        <div class="card">
          <p><span class="emphasis"><%= app.job_title %> - <%= app.company_name %></span><br>
          Status: <%= app.app_status.gsub(/_/, " ").capitalize %></p>
        </div>
      </a>
    <% end %>
  </div>
</div>