@media screen {
  /* --- Reset Styles --- */
  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
    width: 100%;
  }

  /* --- Main Site Styles --- */
  body {
    background-color: #FAFAFF;
    color: #333;
    font-family: Sans-Serif;
    line-height: 18px;
  }

  .page-container {
    width: auto;
    padding: 5% 10%;
  }

 h1 {
    font-size: 36px;
    line-height: 48px;
    color: #8245FE;
  }

  h1 span {
    color: #333;
  }

  h2 {
    border-bottom: 2px solid #ccc;
    font-size: 1.5rem;
    line-height: 36px;
    margin-bottom: 16px;
    color: #8245FE;
  }

  h3 {
    font-size: 18px;
    line-height: 36px;
  }

  p {
    font-size: 16px;
    margin-bottom: 18px;
    line-height: 1.25rem;
  }

  a:link {
    color: #8245FE;
    text-decoration: none;
  }

  a:visited {
    color: #8245FE;
  }

  .section-bottom-border {
    margin: 1em 0em;
    border: 1px solid #F5F5F5;
  }

  .content-section {
    margin-top: 1rem;
    padding: 1rem 2rem;
  }

  .content-wrapper {
    background: #fff;
  }

  .emphasis {
    font-weight: bold;
  }

  /* --- Nav & Footer Styles --- */
  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-bottom: 1.5rem;
  }
  
  #nav-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .navbar p {
    margin-bottom: initial;
  }

  .nav-links {
    display: flex;
  }

  .nav-links li:first-child {
    padding-right: 1rem;
  }
  
  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .flex-item-right {
    margin-left: auto;
  }

  footer {
    text-align: right;
    margin-top: 3rem;
  }

  footer p {
    margin-bottom: initial;
  }

  footer.center {
    border-top: 2px solid #ccc;
    margin-top: 4rem;
    padding-top: 1rem;
    text-align: center;
  }

  .sub-menu-links a {
    color: #333;
  }

  .sub-menu-links a:hover {
    font-weight: bold;
  }

  .sub-menu-links a:last-child:hover {
    color: #FF3333;
  }

  /* --- Login & Sign Up Styles --- */
  .home-container {
    max-width: 400px;
    margin: 1.5rem auto;
  }
  
  form.home {
    padding-top: 10px;
  }

  form.home input {
    background-color: #fff;
  }
    
  form.home label {
    text-align: right;
  }

  /* --- Dashboard Styles --- */
  .dashboard-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    margin-bottom: 2rem;
  }

  .dashboard-col {
    min-height: 300px;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #F5F5F5;
    background: #fff;
  }

  .dashboard-col h1{
    margin-bottom: 1rem;
    border-bottom: 2px solid #F5F5F5;
    font-size: 1.25rem;
    color: #333;
    font-weight: normal;
  }

  .dashboard-col a, .content-section a {
    text-decoration: none;
    color: #333;
  }

  .card {
    background-color: #F5F5F5;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 15%);
    margin-bottom: 1rem;
  }

  .card p {
    margin-bottom: .5rem;
  }

  .card p:last-child {
    margin-bottom: initial;
  }

  .card.alert {
    background-color: #FFE5E3;
  }

  .text-alert {
    color: #FF3333;
  }

 /* --- Delete Page Styles --- */
 .alert-container {
   padding: 2rem;
   background: #fff;
   margin: 0 auto;
 }

 /* --- Flash Message Styles --- */

#flash div {
  margin-bottom: 1rem;
  color: #FF3333;
}

  /* --- Form, Show and Inactive App Page Styles --- */
  .page-title {
    background: #8245FE;
    padding: 1rem 2rem;
  }

  .page-title h1 {
    font-size: 2rem;
    color: #fff;
  }

  .grid-container {
    padding: 2rem;
    background: #fff;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 2rem;
    margin-bottom: 1rem;
  }

  .grid-container h2 {
    color: #8245FE;
    border-bottom: 1px solid #F5F5F5;
  }

  .grid-container h3 {
    color: #5b30b1;
    margin-bottom: .5rem;
  }

  .grid-container p {
    margin-bottom: .75rem;
  }

  form label {
    font-weight: bold;
  }

  .display-section {
    margin-bottom: 2rem;
  }

  .display-section.last {
    margin-bottom: initial;
  }

  .follow-up-action:last-child {
    margin-bottom: initial;
  }

  .follow-up-action {
    line-height: 1.25rem;
    margin-bottom: 1.5rem;
  }

  input, textarea, select {
    width: 100%;
    padding: 7px 10px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #FAFAFF;
  }

  input[type="checkbox"] {
    width: initial;
    vertical-align: middle;
    margin-right: .25rem;
  }

  textarea {
    min-height: 300px;
  }

  /* --- Button Styles --- */
  .button {
    border: solid;
    border-color: #8245FE;
    padding: .5em 2.5em;
    border-radius: 8px;
    text-decoration: none;
  }

  .button.loud {
    background-color: #8245FE;
    color: #fff;
  }

  .button.loud:hover {
    background-color: #5b30b1;
    border-color: #5b30b1;
    transition: background-color 0.2s, border-color 0.2s;
  }

  .button.soft {
    background-color:#fff;
    color: #8245FE;
  }

  .button.soft:hover {
    background-color: #5b30b1;
    border-color: #5b30b1;
    transition: background-color 0.2s, border-color 0.2s;
    color: #fff;
  }

  .button.delete.soft {
    background-color: #F5F5F5;
    border-color: #F5F5F5;
    color: #333;
  }

  .button.delete.soft:hover {
    background-color: #FFE5E3;
    border-color: #FFE5E3;
    color: #FF3333;
    font-weight: bold;
    transition: background-color 0.2s, border-color .2s;
  }

  .button.delete.loud {
    background-color: #FF3333;
    border-color: #FF3333;
    color: #fff;
    font-weight: bold;
  }

  .button.delete.loud:hover {
    background-color: #cc2828;
    border-color: #cc2828;
    color: #fff;
    font-weight: bold;
    transition: background-color 0.2s, border-color .2s;
  }

  input.button {
    width: initial;
  }

  input.button:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 700px) {
  .dashboard-container {
    grid-template-columns: 1fr;
    }

  .dashboard-col {
    min-height: 150px;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }

  .navbar {
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .navbar p {
    padding-bottom: 1.5rem;
    text-align: center;
  }
}