<a href="/signup">Sign Up</a>

<h1>Login</h1>
<h1>JOB APP TRACK</h1>
<p>Bring focus to your job search with this simple tool for tracking your job apps 
and next steps</p>

<form method="POST" action="/login"> 
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username"/>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password"/>
  </div>
  <div>
    <input type="submit" value="Login"/>
  </div>
</form>