<nav class="flex">
  <a class="button soft flex-item-right" href="/login">Login</a>
</nav>

<div class="home-container">
  <div class="home-header">
    <h1>Sign up<br><span>JOB APP TRACK</span></h1>
    <p>Bring focus to your job search with this simple tool for tracking your job apps and next steps</p>
  </div>
  <form method="POST" action="/signup" class="home"> 
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username"/>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password"/>
    </div>
    <div>
      <label for="password_confirm">Confirm password:</label>
      <input type="password" id="password_confirm" name="password_confirmation"/>
    </div>
    <div>
      <input class="button loud" type="submit" value="Sign up"/>
    </div>
    <%= flash[:user_account_message] %>
  </form>
</div>

<footer class="footer center">
  <p>Job App Track - Developed with <a href="http://sinatrarb.com/">Sinatra</a> | <a href="https://github.com/staceymck">GitHub Repo</a></p>
</footer>