<nav class="navbar">
  <p><span id="nav-title">Job App Track</span><br>
  <%= @current_user.username %></p>
  
  <ul class="nav-links">
    <li><a class="button loud" href="/job_apps">Dashboard</a></li>
    <li><a class="button soft" href="/logout">Logout</a></li>
  </ul>
</nav>

<%= styled_flash %>

<%= yield %>

<footer class="footer">
  <p>Job App Track - Developed with <a href="http://sinatrarb.com/">Sinatra</a> | <a href="https://github.com/staceymck">GitHub Repo</a></p>
</footer>